body {
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: bold;
    display: block;
    background-image: url("https://images.pexels.com/photos/113338/pexels-photo-113338.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
    background-size: cover;
    flex-wrap: wrap;
    text-align: center

}

.page-title {
    padding: 20px;
    font-size: 50 px;
        
}

.page-description {
    font-size: 24;
}

.parandus {
    text-align: center;
    font-size: 24 px;
}

.email_form {
    padding-left: 20px;
}

.nb {
    font-size: 18px;
}

.social_media {
    display: inline-flex;
}

.list {
    display: inline-flex;
    flex-wrap: wrap;
    border: 2px white;
    margin: 3px;
}

.huawei_list {
    border: 2px white;
}

.iphone_list {
    border: 2px white;
    list-style-image: 
}


button {
    width: 50px;
    height: 50px;
    background: url(facebook_square.png);
    background-size: cover;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #4CAF50;
}




email_form {
    padding-left: 50px;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline-flex;
    
}

.main {
    margin-bottom: 30px;
    background-color: floralwhite;
    margin-left: 300px;
    margin-right: 300px;
}


p a{
    color: white;
    background-color: darkslateblue;
    border-radius: 8%;
    padding: 2px;
    text-decoration-line: none;
    
}